body { background:#000; color:#fff; text-align:center; }
.contact { margin-top:100px; }
.contact h2 { color:#C8A951; }
.navbar {
  background:#000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
}

.nav-logo img {
  width:120px;
}

.nav-links {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a {
  color:#C8A951;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover {
  color:#fff;
}
