body { margin:0; font-family:Lato; background:#111; color:#fff; }

.hero {
  height:90vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1 {
  font-size:3rem;
  color:#C8A951;
}

.btn {
  margin-top:20px;
  padding:12px 30px;
  background:#C8A951;
  color:#000;
  text-decoration:none;
  border-radius:8px;
}
.navbar {
  background:#000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
}

.nav-logo img {
  width:120px;
}

.nav-links {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a {
  color:#C8A951;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover {
  color:#fff;
}
