body { margin:0; font-family:Arial; background:#000; color:#fff; }
h1{
 color: #C8A951;
  font-size: 3rem;
}
.navbar {
  display:flex; justify-content:space-between;
  padding:15px 30px; background:#000;
}
.navbar img { width:120px; }
.navbar ul { display:flex; gap:20px; list-style:none; }
.navbar a { color:#C8A951; text-decoration:none; }

.hero {
  height:90vh;
  background:url("Main 001.jpg") center/cover;
  display:flex; align-items:center;
}
.hero-text {
  background:rgba(0,0,0,0.6);
  padding:40px; margin-left:40px;
}
.hero h1 { color:#C8A951; font-size:3rem; }
.hero a {
  background:#C8A951; padding:12px 25px;
  color:#000; text-decoration:none; border-radius:8px;
}

.features {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px; padding:40px;
}
.box {
  background:#111; padding:25px;
  text-align:center; border-radius:15px;
}
