body { background:#111; color:#fff; }
.title { text-align:center; color:#C8A951; margin:30px; }

.gallery {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
  padding:20px;
}

.gallery img {
  width:100%;
  border-radius:15px;
}

.navbar {
  background:#000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
}

.nav-logo img {
  width:120px;
}

.nav-links {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a {
  color:#C8A951;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover {
  color:#fff;
}
