body { background:#000; color:#fff; text-align:center; }
h1 { color:#C8A951; margin:30px; }

.gallery {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px; padding:20px;
}
.gallery img {
  width:100%; border-radius:15px;
  transition:0.3s;
}
.gallery img:hover { transform:scale(1.05); }

.navbar {
  background:#000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
}

.nav-logo img {
  width:120px;
}

.nav-links {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a {
  color:#C8A951;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover {
  color:#fff;
}
