body { background:#f5f5f5; font-family:Lato; }
.title { text-align:center; color:#C8A951; margin:40px 0; }

.services {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  padding:20px;
}

.card {
  background:#000;
  color:#fff;
  padding:30px;
  border-radius:15px;
  text-align:center;
}
.navbar {
  background:#000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 30px;
}

.nav-logo img {
  width:120px;
}

.nav-links {
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a {
  color:#C8A951;
  text-decoration:none;
  font-weight:bold;
}

.nav-links a:hover {
  color:#fff;
}
